In [1]:
import pandas as pd
import numpy as np
import time
import datetime
import calendar

## Historic

In [6]:
df = pd.read_csv("BTCUSD_2018_1min_Raw.csv",index_col=False)
df.describe()

,Unix Timestamp,Open,High,Low,Close,Volume
count,4.901070e+05,490107.000000,490107.000000,490107.000000,490107.000000,490107.000000
mean,4.823329e+11,7738.196771,7741.778537,7734.541034,7738.179708,3.184231
std,7.135990e+11,2334.173728,2336.980611,2331.335312,2334.158940,10.442033
min,1.514765e+09,3126.880000,3129.600000,3126.880000,3126.880000,0.000000
25%,1.522116e+09,6408.490000,6409.340000,6407.750000,6408.490000,0.003514
50%,1.529468e+09,7099.070000,7100.090000,7096.600000,7099.070000,0.268116
75%,1.540000e+12,8748.480000,8752.740000,8741.780000,8748.470000,2.423694
max,1.550000e+12,17221.960000,17236.460000,17213.790000,17221.960000,791.239751

In [7]:
df.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1.550000e+12,31-12-18 23:59,BTCUSD,3686.38,3692.35,3685.70,3692.35,4.107691
1,1.550000e+12,31-12-18 23:58,BTCUSD,3686.38,3686.38,3686.38,3686.38,0.117334
2,1.550000e+12,31-12-18 23:57,BTCUSD,3686.38,3686.38,3686.38,3686.38,0.089801
3,1.550000e+12,31-12-18 23:56,BTCUSD,3685.70,3686.38,3683.98,3686.38,8.244595
4,1.550000e+12,31-12-18 23:55,BTCUSD,3680.14,3685.70,3680.14,3685.70,3.279082

In [8]:
pd.to_datetime(df.Date,errors='raise')
df.dtypes

Unix Timestamp    float64
Date               object
Symbol             object
Open              float64
High              float64
Low               float64
Close             float64
Volume            float64
dtype: object

In [9]:
df['UnixTime'] = df.Date.apply(lambda x :int(calendar.timegm(datetime.datetime.strptime(x,"%d-%m-%y %H:%M").timetuple()))+ 259200)
df.head()
# (datetime.datetime.strptime('31-12-18 23:59',"%d-%m-%y %H:%M").timetuple())

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume,UnixTime
0,1.550000e+12,31-12-18 23:59,BTCUSD,3686.38,3692.35,3685.70,3692.35,4.107691,1546559940
1,1.550000e+12,31-12-18 23:58,BTCUSD,3686.38,3686.38,3686.38,3686.38,0.117334,1546559880
2,1.550000e+12,31-12-18 23:57,BTCUSD,3686.38,3686.38,3686.38,3686.38,0.089801,1546559820
3,1.550000e+12,31-12-18 23:56,BTCUSD,3685.70,3686.38,3683.98,3686.38,8.244595,1546559760
4,1.550000e+12,31-12-18 23:55,BTCUSD,3680.14,3685.70,3680.14,3685.70,3.279082,1546559700

In [10]:
df.to_csv('BTCUSD_2018_1min_Outout.csv',sep=',',encoding='utf-8')

## Twitter

In [9]:
df = pd.read_csv("mergefile.csv", index_col=False)
df.head()

c:\users\abid inamdar\appdata\local\programs\python\python36-32\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,1,3,4,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,user,fullname,tweet-id,timestamp,url,likes,replies,retweets,text,step1,Labels
0,SpritzCoin,SpritzCoin,1.050000e+18,17-10-18 23:59,/SpritzCoin/status/1052710680200134657,13.0,12.0,12.0,Good morning #Tokyo\r\r\r\n#Week42 weekly #air...,Good morning Tokyo Week weekly airdrop L...,0.0
1,crashfoxcrypto,CrashFoxÃ¢ÂÂ¢,1.050000e+18,17-10-18 23:57,/crashfoxcrypto/status/1052710224199671808,10.0,2.0,1.0,Shit like this makes me smile. Positivity spre...,Shit like makes smile Positivity spreads do...,0.0
2,AllDef,All Def,1.050000e+18,17-10-18 23:57,/AllDef/status/1052710193841102849,30.0,12.0,1.0,"""Do you take Bitcoin?"" pic.twitter.com/ITv8UdkCZv",Do take Bitcoin pic twitter com ITv UdkCZv,0.0
3,BitcoinCensus,Dr. Josh Cotton,1.050000e+18,17-10-18 23:53,/BitcoinCensus/status/1052709336357789696,27.0,2.0,3.0,Great to meet you today @MarkYusko during the ...,Great meet today Digital Asset Strategies Su...,0.0
4,thecryptokidd,CryptoKid,1.050000e+18,17-10-18 23:50,/thecryptokidd/status/1052708492899946496,68.0,5.0,10.0,Bitcoin Cash was the best thing to happen to B...,Bitcoin Cash best thing happen Bitcoin since B...,0.0

In [10]:
print(df.describe())
df.dropna(axis = 0,inplace=True)
print(df.describe())
df.head()

           tweet-id         likes       replies      retweets        Labels
count  7.552200e+04  75522.000000  75522.000000  75522.000000  75522.000000
mean   1.058118e+18     23.106486      2.644395      7.338603      0.073581
std    3.908718e+15    159.592655     16.391056     60.454267      0.269230
min    1.050000e+18      1.000000      0.000000      0.000000     -2.000000
25%    1.060000e+18      1.000000      0.000000      0.000000      0.000000
50%    1.060000e+18      3.000000      1.000000      1.000000      0.000000
75%    1.060000e+18     13.000000      2.000000      3.000000      0.000000
max    1.060000e+18  25581.000000   1465.000000   8649.000000      2.000000
           tweet-id         likes       replies      retweets        Labels
count  7.552200e+04  75522.000000  75522.000000  75522.000000  75522.000000
mean   1.058118e+18     23.106486      2.644395      7.338603      0.073581
std    3.908718e+15    159.592655     16.391056     60.454267      0.269230
min    1.050000e+18      1.000000      0.000000      0.000000     -2.000000
25%    1.060000e+18      1.000000      0.000000      0.000000      0.000000
50%    1.060000e+18      3.000000      1.000000      1.000000      0.000000
75%    1.060000e+18     13.000000      2.000000      3.000000      0.000000
max    1.060000e+18  25581.000000   1465.000000   8649.000000      2.000000

,user,fullname,tweet-id,timestamp,url,likes,replies,retweets,text,step1,Labels
0,SpritzCoin,SpritzCoin,1.050000e+18,17-10-18 23:59,/SpritzCoin/status/1052710680200134657,13.0,12.0,12.0,Good morning #Tokyo\r\r\r\n#Week42 weekly #air...,Good morning Tokyo Week weekly airdrop L...,0.0
1,crashfoxcrypto,CrashFoxÃ¢ÂÂ¢,1.050000e+18,17-10-18 23:57,/crashfoxcrypto/status/1052710224199671808,10.0,2.0,1.0,Shit like this makes me smile. Positivity spre...,Shit like makes smile Positivity spreads do...,0.0
2,AllDef,All Def,1.050000e+18,17-10-18 23:57,/AllDef/status/1052710193841102849,30.0,12.0,1.0,"""Do you take Bitcoin?"" pic.twitter.com/ITv8UdkCZv",Do take Bitcoin pic twitter com ITv UdkCZv,0.0
3,BitcoinCensus,Dr. Josh Cotton,1.050000e+18,17-10-18 23:53,/BitcoinCensus/status/1052709336357789696,27.0,2.0,3.0,Great to meet you today @MarkYusko during the ...,Great meet today Digital Asset Strategies Su...,0.0
4,thecryptokidd,CryptoKid,1.050000e+18,17-10-18 23:50,/thecryptokidd/status/1052708492899946496,68.0,5.0,10.0,Bitcoin Cash was the best thing to happen to B...,Bitcoin Cash best thing happen Bitcoin since B...,0.0

In [11]:
df.dtypes

user          object
fullname      object
tweet-id     float64
timestamp     object
url           object
likes        float64
replies      float64
retweets     float64
text          object
step1         object
Labels       float64
dtype: object

In [12]:
df.timestamp =  pd.to_datetime(df.timestamp,errors='raise')

In [13]:
df.head()

,user,fullname,tweet-id,timestamp,url,likes,replies,retweets,text,step1,Labels
0,SpritzCoin,SpritzCoin,1.050000e+18,2018-10-17 23:59:00,/SpritzCoin/status/1052710680200134657,13.0,12.0,12.0,Good morning #Tokyo\r\r\r\n#Week42 weekly #air...,Good morning Tokyo Week weekly airdrop L...,0.0
1,crashfoxcrypto,CrashFoxÃ¢ÂÂ¢,1.050000e+18,2018-10-17 23:57:00,/crashfoxcrypto/status/1052710224199671808,10.0,2.0,1.0,Shit like this makes me smile. Positivity spre...,Shit like makes smile Positivity spreads do...,0.0
2,AllDef,All Def,1.050000e+18,2018-10-17 23:57:00,/AllDef/status/1052710193841102849,30.0,12.0,1.0,"""Do you take Bitcoin?"" pic.twitter.com/ITv8UdkCZv",Do take Bitcoin pic twitter com ITv UdkCZv,0.0
3,BitcoinCensus,Dr. Josh Cotton,1.050000e+18,2018-10-17 23:53:00,/BitcoinCensus/status/1052709336357789696,27.0,2.0,3.0,Great to meet you today @MarkYusko during the ...,Great meet today Digital Asset Strategies Su...,0.0
4,thecryptokidd,CryptoKid,1.050000e+18,2018-10-17 23:50:00,/thecryptokidd/status/1052708492899946496,68.0,5.0,10.0,Bitcoin Cash was the best thing to happen to B...,Bitcoin Cash best thing happen Bitcoin since B...,0.0

In [14]:
df.dtypes

user                 object
fullname             object
tweet-id            float64
timestamp    datetime64[ns]
url                  object
likes               float64
replies             float64
retweets            float64
text                 object
step1                object
Labels              float64
dtype: object

In [15]:
# (df.timestamp - datetime.datetime(1970, 1, 1)).total_seconds() 
df['UnixTime'] = list(((date1 - datetime.datetime(1970, 1, 1)).total_seconds() for date1 in df.timestamp))
df.head()

,user,fullname,tweet-id,timestamp,url,likes,replies,retweets,text,step1,Labels,UnixTime
0,SpritzCoin,SpritzCoin,1.050000e+18,2018-10-17 23:59:00,/SpritzCoin/status/1052710680200134657,13.0,12.0,12.0,Good morning #Tokyo\r\r\r\n#Week42 weekly #air...,Good morning Tokyo Week weekly airdrop L...,0.0,1.539821e+09
1,crashfoxcrypto,CrashFoxÃ¢ÂÂ¢,1.050000e+18,2018-10-17 23:57:00,/crashfoxcrypto/status/1052710224199671808,10.0,2.0,1.0,Shit like this makes me smile. Positivity spre...,Shit like makes smile Positivity spreads do...,0.0,1.539821e+09
2,AllDef,All Def,1.050000e+18,2018-10-17 23:57:00,/AllDef/status/1052710193841102849,30.0,12.0,1.0,"""Do you take Bitcoin?"" pic.twitter.com/ITv8UdkCZv",Do take Bitcoin pic twitter com ITv UdkCZv,0.0,1.539821e+09
3,BitcoinCensus,Dr. Josh Cotton,1.050000e+18,2018-10-17 23:53:00,/BitcoinCensus/status/1052709336357789696,27.0,2.0,3.0,Great to meet you today @MarkYusko during the ...,Great meet today Digital Asset Strategies Su...,0.0,1.539820e+09
4,thecryptokidd,CryptoKid,1.050000e+18,2018-10-17 23:50:00,/thecryptokidd/status/1052708492899946496,68.0,5.0,10.0,Bitcoin Cash was the best thing to happen to B...,Bitcoin Cash best thing happen Bitcoin since B...,0.0,1.539820e+09

In [16]:
df.drop(columns= ['fullname'],inplace = True)
df.head()

,user,tweet-id,timestamp,url,likes,replies,retweets,text,step1,Labels,UnixTime
0,SpritzCoin,1.050000e+18,2018-10-17 23:59:00,/SpritzCoin/status/1052710680200134657,13.0,12.0,12.0,Good morning #Tokyo\r\r\r\n#Week42 weekly #air...,Good morning Tokyo Week weekly airdrop L...,0.0,1.539821e+09
1,crashfoxcrypto,1.050000e+18,2018-10-17 23:57:00,/crashfoxcrypto/status/1052710224199671808,10.0,2.0,1.0,Shit like this makes me smile. Positivity spre...,Shit like makes smile Positivity spreads do...,0.0,1.539821e+09
2,AllDef,1.050000e+18,2018-10-17 23:57:00,/AllDef/status/1052710193841102849,30.0,12.0,1.0,"""Do you take Bitcoin?"" pic.twitter.com/ITv8UdkCZv",Do take Bitcoin pic twitter com ITv UdkCZv,0.0,1.539821e+09
3,BitcoinCensus,1.050000e+18,2018-10-17 23:53:00,/BitcoinCensus/status/1052709336357789696,27.0,2.0,3.0,Great to meet you today @MarkYusko during the ...,Great meet today Digital Asset Strategies Su...,0.0,1.539820e+09
4,thecryptokidd,1.050000e+18,2018-10-17 23:50:00,/thecryptokidd/status/1052708492899946496,68.0,5.0,10.0,Bitcoin Cash was the best thing to happen to B...,Bitcoin Cash best thing happen Bitcoin since B...,0.0,1.539820e+09

In [17]:
df.to_csv("mergefile.csv",sep=',',encoding='utf-8')

## News

In [5]:
df = pd.read_csv('LP_12_Oct_to_14_Nov_18.csv',index_col=False,encoding='latin1')
df.head()
# usecols=['Sr','author','title','timestamp','text','spam_score','performance_score','facebook_likes','facebook_comments','facebook_shares','preprocess','stem','lem','cap']

,Sr,author,title,timestamp,text,spam_score,performance_score,facebook_likes,facebook_comments,facebook_shares,preprocess,UnixTime,Label (-2 to 2)
0,3,Mark Townsend,Tommy Robinson stands to make 1m on US speakin...,27-10-18 15:56,Tommy Robinson could make more than ÃÂÃÂÃ...,0,10,8429,8507,1617,Tommy Robinson could make ÃÂÃÂÃÂÃÂ£1m p...,1.540656e+09,0.0
1,4,Kate Rooney,Fidelity launches trade execution and custody ...,15-10-18 17:30,Bitcoin Fidelity just made it easier for hedge...,0,7,1431,299,783,Bitcoin Fidelity made easier hedge funds pros ...,1.539625e+09,0.0
2,5,theblaze.com,WATCH: Hillary Clinton jokes about black Democ...,30-10-18 5:20,Hillary Clinton appeared quite amused with her...,0,10,4289,1107,1445,Hillary Clinton appeared quite amused making j...,1.540877e+09,0.0
3,6,channelnewsasia.com,Live-streaming of child sex abuse spreads in t...,26-10-18 22:02,\r\r\r\nMANILA: Victor Lorenzo has spent much ...,0.82,10,5971,528,1085,MANILA: Victor Lorenzo spent much life chasing...,1.540591e+09,0.0
4,7,Michael del Castillo,Fidelity Launches Institutional Platform For B...,15-10-18 17:58,I cover enterprise adoption of blockchain and ...,0,6,1462,313,677,I cover enterprise adoption blockchain cryptoc...,1.539626e+09,0.0

In [10]:
print(df.describe())
# df.dropna(axis = 0,inplace=True)
# print(df.describe())
df.head()

           Sr      author                                              title  \
count   51777       45880                                              51693
unique  51693        4403                                              40240
top       Yes  ABMN Staff  South Africans have an appetite for cryptos - ...
freq       17       14778                                                 68

                            timestamp  \
count                           51699
unique                          13307
top     2018-10-31T02:00:00.000+02:00
freq                              368

                                                     text spam_score  \
count                                               51690      51384
unique                                              48833       1475
top     Your ability to comment is currently suspended...          0
freq                                                   33      38786

       performance_score facebook_likes facebook_comments facebook_shares  \
count              51227          51050             50990           50946
unique               466            611               430             433
top                    0              0                 0               0
freq               50567          49339             49805           48852

       preprocess                                               stem    lem  \
count       51593                                              51577  51575
unique      48676                                              48659  48659
top             .  your abil tment current suspend due neg user r...      .
freq           33                                                 33     33

          cap
count   51574
unique  48658
top         .
freq       33

,Sr,author,title,timestamp,text,spam_score,performance_score,facebook_likes,facebook_comments,facebook_shares,preprocess,stem,lem,cap
0,1,NaN,Why Bitcoin and Crypto Have No Future Ã¢ÂÂ T...,2018-10-19T03:00:00.000+03:00,Cryptoasset enthusiast and investor. economics...,0,7,1528,519,775,Cryptoasset enthusiast investor. economics. Oc...,cryptoasset enthusiast investor. economics. oc...,Cryptoasset enthusiast investor. economics. Oc...,CRYPTOASSET ENTHUSIAST INVESTOR. ECONOMICS. OC...
1,2,NaN,Deduct tithes straight from workersÃ¢ÂÂ sala...,2018-10-29T02:00:00.000+02:00,Deduct tithes straight from workersÃ¢ÂÂ sala...,0,10,4005,4914,1426,"Deduct tithes straight workersÃ¢ÂÂ salaries,...","deduct tith straight workersÃ¢ÂÂ salaries, a...","Deduct tithe straight workersÃ¢ÂÂ salaries, ...","DEDUCT TITHES STRAIGHT WORKERSÃÂÂ SALARIES,..."
2,3,Mark Townsend,Tommy Robinson Ã¢ÂÂstands to make ÃÂ£1mÃ¢Â...,2018-10-27T18:56:00.000+03:00,Tommy Robinson could make more than ÃÂ£1m fro...,0,10,8429,8507,1617,Tommy Robinson could make ÃÂ£1m potential tri...,tommi robinson could make Ã¢Â£1m potenti trip ...,Tommy Robinson could make ÃÂ£1m potential tri...,TOMMY ROBINSON COULD MAKE ÃÂ£1M POTENTIAL TRI...
3,4,Kate Rooney,Fidelity launches trade execution and custody ...,2018-10-15T20:30:00.000+03:00,Bitcoin Fidelity just made it easier for hedge...,0,7,1431,299,783,Bitcoin Fidelity made easier hedge funds pros ...,bitcoin fidel made easier hedg fund pro invest...,Bitcoin Fidelity make easier hedge fund pros i...,BITCOIN FIDELITY MADE EASIER HEDGE FUNDS PROS ...
4,5,theblaze.com,WATCH: Hillary Clinton jokes about black Democ...,2018-10-30T07:20:00.000+02:00,Hillary Clinton appeared quite amused with her...,0,10,4289,1107,1445,Hillary Clinton appeared quite amused making j...,hillari clinton appear quit amus make joke int...,Hillary Clinton appear quite amuse make joke i...,HILLARY CLINTON APPEARED QUITE AMUSED MAKING J...

In [11]:
df.dtypes

Sr                   object
author               object
title                object
timestamp            object
text                 object
spam_score           object
performance_score    object
facebook_likes       object
facebook_comments    object
facebook_shares      object
preprocess           object
stem                 object
lem                  object
cap                  object
dtype: object

In [12]:
df.timestamp = pd.to_datetime(df.timestamp,errors='coerce')
df.dtypes

Sr                           object
author                       object
title                        object
timestamp            datetime64[ns]
text                         object
spam_score                   object
performance_score            object
facebook_likes               object
facebook_comments            object
facebook_shares              object
preprocess                   object
stem                         object
lem                          object
cap                          object
dtype: object

In [24]:
print(df.isnull().any())
df.dropna(inplace=True)
df.describe()

Sr                   False
author               False
title                False
timestamp            False
text                 False
spam_score           False
performance_score    False
facebook_likes       False
facebook_comments    False
facebook_shares      False
preprocess           False
stem                 False
lem                  False
cap                  False
dtype: bool

,Sr,author,title,timestamp,text,spam_score,performance_score,facebook_likes,facebook_comments,facebook_shares,preprocess,stem,lem,cap
count,44867,44867,44867,44867,44867,44867,44867,44867,44867,44867,44867,44867,44867,44867
unique,44867,3540,34911,10904,42682,809,14,251,154,198,42655,42654,42655,42655
top,28198,ABMN Staff,South Africans have an appetite for cryptos - ...,2018-10-31 00:00:00,"29% is too high, but the number is higher than...",0,0,0,0,0,"29% high, number higher one would think. There...","29% high, number higher one would think. there...","29% high, number higher one would think. There...","29% HIGH, NUMBER HIGHER ONE WOULD THINK. THERE..."
freq,1,14778,68,249,25,34370,44745,43848,44188,43491,25,25,25,25
first,NaN,NaN,NaN,2013-12-04 15:38:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,2018-11-14 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df['UnixTime'] = list(((date1 - datetime.datetime(1970, 1, 1)).total_seconds() for date1 in df.timestamp))
df.head()

,Sr,author,title,timestamp,text,spam_score,performance_score,facebook_likes,facebook_comments,facebook_shares,preprocess,stem,lem,cap,UnixTime
2,3,Mark Townsend,Tommy Robinson Ã¢ÂÂstands to make ÃÂ£1mÃ¢Â...,2018-10-27 15:56:00,Tommy Robinson could make more than ÃÂ£1m fro...,0,10,8429,8507,1617,Tommy Robinson could make ÃÂ£1m potential tri...,tommi robinson could make Ã¢Â£1m potenti trip ...,Tommy Robinson could make ÃÂ£1m potential tri...,TOMMY ROBINSON COULD MAKE ÃÂ£1M POTENTIAL TRI...,1.540656e+09
3,4,Kate Rooney,Fidelity launches trade execution and custody ...,2018-10-15 17:30:00,Bitcoin Fidelity just made it easier for hedge...,0,7,1431,299,783,Bitcoin Fidelity made easier hedge funds pros ...,bitcoin fidel made easier hedg fund pro invest...,Bitcoin Fidelity make easier hedge fund pros i...,BITCOIN FIDELITY MADE EASIER HEDGE FUNDS PROS ...,1.539625e+09
4,5,theblaze.com,WATCH: Hillary Clinton jokes about black Democ...,2018-10-30 05:20:00,Hillary Clinton appeared quite amused with her...,0,10,4289,1107,1445,Hillary Clinton appeared quite amused making j...,hillari clinton appear quit amus make joke int...,Hillary Clinton appear quite amuse make joke i...,HILLARY CLINTON APPEARED QUITE AMUSED MAKING J...,1.540877e+09
5,6,channelnewsasia.com,Live-streaming of child sex abuse spreads in t...,2018-10-26 22:02:00,\r\nMANILA: Victor Lorenzo has spent much of h...,0.82,10,5971,528,1085,MANILA: Victor Lorenzo spent much life chasing...,manila: victor lorenzo spent much life chase c...,MANILA: Victor Lorenzo spend much life chase c...,MANILA: VICTOR LORENZO SPENT MUCH LIFE CHASING...,1.540591e+09
6,7,Michael del Castillo,Fidelity Launches Institutional Platform For B...,2018-10-15 17:58:00,I cover enterprise adoption of blockchain and ...,0,6,1462,313,677,I cover enterprise adoption blockchain cryptoc...,I cover enterpris adopt blockchain cryptocurre...,I cover enterprise adoption blockchain cryptoc...,I COVER ENTERPRISE ADOPTION BLOCKCHAIN CRYPTOC...,1.539626e+09

In [26]:
df.to_csv("P_12_Oct_to_14_Nov_18.csv",sep=',',encoding='utf-8')