In [1]:
import pandas as pd
import numpy as np
import datetime
import math

In [6]:
historic = pd.read_csv("BTCUSD_2018_1min.csv",index_col=False)
historic.head()

,Unnamed: 0,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume,UnixTime
0,0,1.550000e+12,31-12-18 23:59,BTCUSD,3686.38,3692.35,3685.70,3692.35,4.107691,1546300740
1,1,1.550000e+12,31-12-18 23:58,BTCUSD,3686.38,3686.38,3686.38,3686.38,0.117334,1546300680
2,2,1.550000e+12,31-12-18 23:57,BTCUSD,3686.38,3686.38,3686.38,3686.38,0.089801,1546300620
3,3,1.550000e+12,31-12-18 23:56,BTCUSD,3685.70,3686.38,3683.98,3686.38,8.244595,1546300560
4,4,1.550000e+12,31-12-18 23:55,BTCUSD,3680.14,3685.70,3680.14,3685.70,3.279082,1546300500

In [9]:
day = []
value = []
a = 1514764800
for i in range(365):
    b = a+86399
#     print(a,b)
    temp = historic.High[(historic.UnixTime > a) & (historic.UnixTime < b)]
    day.append(datetime.datetime.utcfromtimestamp(a).strftime('%Y-%m-%d %H:%M:%S'))
    value.append(temp.max())
#     print(temp.mean())
    a+=86400
print(day)
print(value)
day_wise = pd.DataFrame()
day_wise["Date"] = day
day_wise['High'] = value
day_wise

['2018-01-01 00:00:00', '2018-01-02 00:00:00', '2018-01-03 00:00:00', '2018-01-04 00:00:00', '2018-01-05 00:00:00', '2018-01-06 00:00:00', '2018-01-07 00:00:00', '2018-01-08 00:00:00', '2018-01-09 00:00:00', '2018-01-10 00:00:00', '2018-01-11 00:00:00', '2018-01-12 00:00:00', '2018-01-13 00:00:00', '2018-01-14 00:00:00', '2018-01-15 00:00:00', '2018-01-16 00:00:00', '2018-01-17 00:00:00', '2018-01-18 00:00:00', '2018-01-19 00:00:00', '2018-01-20 00:00:00', '2018-01-21 00:00:00', '2018-01-22 00:00:00', '2018-01-23 00:00:00', '2018-01-24 00:00:00', '2018-01-25 00:00:00', '2018-01-26 00:00:00', '2018-01-27 00:00:00', '2018-01-28 00:00:00', '2018-01-29 00:00:00', '2018-01-30 00:00:00', '2018-01-31 00:00:00', '2018-02-01 00:00:00', '2018-02-02 00:00:00', '2018-02-03 00:00:00', '2018-02-04 00:00:00', '2018-02-05 00:00:00', '2018-02-06 00:00:00', '2018-02-07 00:00:00', '2018-02-08 00:00:00', '2018-02-09 00:00:00', '2018-02-10 00:00:00', '2018-02-11 00:00:00', '2018-02-12 00:00:00', '2018-02-13 00:00:00', '2018-02-14 00:00:00', '2018-02-15 00:00:00', '2018-02-16 00:00:00', '2018-02-17 00:00:00', '2018-02-18 00:00:00', '2018-02-19 00:00:00', '2018-02-20 00:00:00', '2018-02-21 00:00:00', '2018-02-22 00:00:00', '2018-02-23 00:00:00', '2018-02-24 00:00:00', '2018-02-25 00:00:00', '2018-02-26 00:00:00', '2018-02-27 00:00:00', '2018-02-28 00:00:00', '2018-03-01 00:00:00', '2018-03-02 00:00:00', '2018-03-03 00:00:00', '2018-03-04 00:00:00', '2018-03-05 00:00:00', '2018-03-06 00:00:00', '2018-03-07 00:00:00', '2018-03-08 00:00:00', '2018-03-09 00:00:00', '2018-03-10 00:00:00', '2018-03-11 00:00:00', '2018-03-12 00:00:00', '2018-03-13 00:00:00', '2018-03-14 00:00:00', '2018-03-15 00:00:00', '2018-03-16 00:00:00', '2018-03-17 00:00:00', '2018-03-18 00:00:00', '2018-03-19 00:00:00', '2018-03-20 00:00:00', '2018-03-21 00:00:00', '2018-03-22 00:00:00', '2018-03-23 00:00:00', '2018-03-24 00:00:00', '2018-03-25 00:00:00', '2018-03-26 00:00:00', '2018-03-27 00:00:00', '2018-03-28 00:00:00', '2018-03-29 00:00:00', '2018-03-30 00:00:00', '2018-03-31 00:00:00', '2018-04-01 00:00:00', '2018-04-02 00:00:00', '2018-04-03 00:00:00', '2018-04-04 00:00:00', '2018-04-05 00:00:00', '2018-04-06 00:00:00', '2018-04-07 00:00:00', '2018-04-08 00:00:00', '2018-04-09 00:00:00', '2018-04-10 00:00:00', '2018-04-11 00:00:00', '2018-04-12 00:00:00', '2018-04-13 00:00:00', '2018-04-14 00:00:00', '2018-04-15 00:00:00', '2018-04-16 00:00:00', '2018-04-17 00:00:00', '2018-04-18 00:00:00', '2018-04-19 00:00:00', '2018-04-20 00:00:00', '2018-04-21 00:00:00', '2018-04-22 00:00:00', '2018-04-23 00:00:00', '2018-04-24 00:00:00', '2018-04-25 00:00:00', '2018-04-26 00:00:00', '2018-04-27 00:00:00', '2018-04-28 00:00:00', '2018-04-29 00:00:00', '2018-04-30 00:00:00', '2018-05-01 00:00:00', '2018-05-02 00:00:00', '2018-05-03 00:00:00', '2018-05-04 00:00:00', '2018-05-05 00:00:00', '2018-05-06 00:00:00', '2018-05-07 00:00:00', '2018-05-08 00:00:00', '2018-05-09 00:00:00', '2018-05-10 00:00:00', '2018-05-11 00:00:00', '2018-05-12 00:00:00', '2018-05-13 00:00:00', '2018-05-14 00:00:00', '2018-05-15 00:00:00', '2018-05-16 00:00:00', '2018-05-17 00:00:00', '2018-05-18 00:00:00', '2018-05-19 00:00:00', '2018-05-20 00:00:00', '2018-05-21 00:00:00', '2018-05-22 00:00:00', '2018-05-23 00:00:00', '2018-05-24 00:00:00', '2018-05-25 00:00:00', '2018-05-26 00:00:00', '2018-05-27 00:00:00', '2018-05-28 00:00:00', '2018-05-29 00:00:00', '2018-05-30 00:00:00', '2018-05-31 00:00:00', '2018-06-01 00:00:00', '2018-06-02 00:00:00', '2018-06-03 00:00:00', '2018-06-04 00:00:00', '2018-06-05 00:00:00', '2018-06-06 00:00:00', '2018-06-07 00:00:00', '2018-06-08 00:00:00', '2018-06-09 00:00:00', '2018-06-10 00:00:00', '2018-06-11 00:00:00', '2018-06-12 00:00:00', '2018-06-13 00:00:00', '2018-06-14 00:00:00', '2018-06-15 00:00:00', '2018-06-16 00:00:00', '2018-06-17 00:00:00', '2018-06-18 00:00:00', '2018-06-19 00:00:00', '2018-06-20 00:00:00', '2018-06-21 00:00:00', '2018-06-22 00:00:00', '2018-06-23 00:00:00', '2018-06-24 00:00:00', '2018-06-25 00:00:00', '2018-06-26 00:00:00', '2018-06-27 00:00:00', '2018-06-28 00:00:00', '2018-06-29 00:00:00', '2018-06-30 00:00:00', '2018-07-01 00:00:00', '2018-07-02 00:00:00', '2018-07-03 00:00:00', '2018-07-04 00:00:00', '2018-07-05 00:00:00', '2018-07-06 00:00:00', '2018-07-07 00:00:00', '2018-07-08 00:00:00', '2018-07-09 00:00:00', '2018-07-10 00:00:00', '2018-07-11 00:00:00', '2018-07-12 00:00:00', '2018-07-13 00:00:00', '2018-07-14 00:00:00', '2018-07-15 00:00:00', '2018-07-16 00:00:00', '2018-07-17 00:00:00', '2018-07-18 00:00:00', '2018-07-19 00:00:00', '2018-07-20 00:00:00', '2018-07-21 00:00:00', '2018-07-22 00:00:00', '2018-07-23 00:00:00', '2018-07-24 00:00:00', '2018-07-25 00:00:00', '2018-07-26 00:00:00', '2018-07-27 00:00:00', '2018-07-28 00:00:00', '2018-07-29 00:00:00', '2018-07-30 00:00:00', '2018-07-31 00:00:00', '2018-08-01 00:00:00', '2018-08-02 00:00:00', '2018-08-03 00:00:00', '2018-08-04 00:00:00', '2018-08-05 00:00:00', '2018-08-06 00:00:00', '2018-08-07 00:00:00', '2018-08-08 00:00:00', '2018-08-09 00:00:00', '2018-08-10 00:00:00', '2018-08-11 00:00:00', '2018-08-12 00:00:00', '2018-08-13 00:00:00', '2018-08-14 00:00:00', '2018-08-15 00:00:00', '2018-08-16 00:00:00', '2018-08-17 00:00:00', '2018-08-18 00:00:00', '2018-08-19 00:00:00', '2018-08-20 00:00:00', '2018-08-21 00:00:00', '2018-08-22 00:00:00', '2018-08-23 00:00:00', '2018-08-24 00:00:00', '2018-08-25 00:00:00', '2018-08-26 00:00:00', '2018-08-27 00:00:00', '2018-08-28 00:00:00', '2018-08-29 00:00:00', '2018-08-30 00:00:00', '2018-08-31 00:00:00', '2018-09-01 00:00:00', '2018-09-02 00:00:00', '2018-09-03 00:00:00', '2018-09-04 00:00:00', '2018-09-05 00:00:00', '2018-09-06 00:00:00', '2018-09-07 00:00:00', '2018-09-08 00:00:00', '2018-09-09 00:00:00', '2018-09-10 00:00:00', '2018-09-11 00:00:00', '2018-09-12 00:00:00', '2018-09-13 00:00:00', '2018-09-14 00:00:00', '2018-09-15 00:00:00', '2018-09-16 00:00:00', '2018-09-17 00:00:00', '2018-09-18 00:00:00', '2018-09-19 00:00:00', '2018-09-20 00:00:00', '2018-09-21 00:00:00', '2018-09-22 00:00:00', '2018-09-23 00:00:00', '2018-09-24 00:00:00', '2018-09-25 00:00:00', '2018-09-26 00:00:00', '2018-09-27 00:00:00', '2018-09-28 00:00:00', '2018-09-29 00:00:00', '2018-09-30 00:00:00', '2018-10-01 00:00:00', '2018-10-02 00:00:00', '2018-10-03 00:00:00', '2018-10-04 00:00:00', '2018-10-05 00:00:00', '2018-10-06 00:00:00', '2018-10-07 00:00:00', '2018-10-08 00:00:00', '2018-10-09 00:00:00', '2018-10-10 00:00:00', '2018-10-11 00:00:00', '2018-10-12 00:00:00', '2018-10-13 00:00:00', '2018-10-14 00:00:00', '2018-10-15 00:00:00', '2018-10-16 00:00:00', '2018-10-17 00:00:00', '2018-10-18 00:00:00', '2018-10-19 00:00:00', '2018-10-20 00:00:00', '2018-10-21 00:00:00', '2018-10-22 00:00:00', '2018-10-23 00:00:00', '2018-10-24 00:00:00', '2018-10-25 00:00:00', '2018-10-26 00:00:00', '2018-10-27 00:00:00', '2018-10-28 00:00:00', '2018-10-29 00:00:00', '2018-10-30 00:00:00', '2018-10-31 00:00:00', '2018-11-01 00:00:00', '2018-11-02 00:00:00', '2018-11-03 00:00:00', '2018-11-04 00:00:00', '2018-11-05 00:00:00', '2018-11-06 00:00:00', '2018-11-07 00:00:00', '2018-11-08 00:00:00', '2018-11-09 00:00:00', '2018-11-10 00:00:00', '2018-11-11 00:00:00', '2018-11-12 00:00:00', '2018-11-13 00:00:00', '2018-11-14 00:00:00', '2018-11-15 00:00:00', '2018-11-16 00:00:00', '2018-11-17 00:00:00', '2018-11-18 00:00:00', '2018-11-19 00:00:00', '2018-11-20 00:00:00', '2018-11-21 00:00:00', '2018-11-22 00:00:00', '2018-11-23 00:00:00', '2018-11-24 00:00:00', '2018-11-25 00:00:00', '2018-11-26 00:00:00', '2018-11-27 00:00:00', '2018-11-28 00:00:00', '2018-11-29 00:00:00', '2018-11-30 00:00:00', '2018-12-01 00:00:00', '2018-12-02 00:00:00', '2018-12-03 00:00:00', '2018-12-04 00:00:00', '2018-12-05 00:00:00', '2018-12-06 00:00:00', '2018-12-07 00:00:00', '2018-12-08 00:00:00', '2018-12-09 00:00:00', '2018-12-10 00:00:00', '2018-12-11 00:00:00', '2018-12-12 00:00:00', '2018-12-13 00:00:00', '2018-12-14 00:00:00', '2018-12-15 00:00:00', '2018-12-16 00:00:00', '2018-12-17 00:00:00', '2018-12-18 00:00:00', '2018-12-19 00:00:00', '2018-12-20 00:00:00', '2018-12-21 00:00:00', '2018-12-22 00:00:00', '2018-12-23 00:00:00', '2018-12-24 00:00:00', '2018-12-25 00:00:00', '2018-12-26 00:00:00', '2018-12-27 00:00:00', '2018-12-28 00:00:00', '2018-12-29 00:00:00', '2018-12-30 00:00:00', '2018-12-31 00:00:00']
[13824.23, 15249.97, 15400.0, 15503.59, 17124.44, 17236.46, 17175.01, 16250.0, 15419.24, 14933.42, 14970.0, 14106.0, 14550.0, 14310.0, 14283.26, 13601.25, 11850.0, 12110.0, 12018.39, 12999.0, 12774.17, 11865.0, 11372.51, 11480.01, 11693.7, 11600.0, 11535.0, 11878.1, 11698.0, 11168.7, 10299.99, 10164.68, 9090.0, 9494.86, 9353.45, 8334.0, 7944.0, 8589.0, 8638.99, 8728.53, 9069.0, 8548.95, 8985.0, 8940.0, 9510.0, 10259.29, 10307.6, 11140.45, 11270.0, 11250.0, 11750.0, 11282.53, 10939.9, 10400.0, 10534.77, 9870.0, 10433.88, 10850.0, 11050.0, 11100.0, 11200.0, 11484.98, 11500.0, 11650.01, 11401.64, 10898.99, 10100.0, 9409.21, 9515.21, 9772.42, 9898.0, 9500.0, 9366.16, 8416.92, 8607.11, 8350.0, 8297.0, 8744.68, 9037.0, 9180.0, 9100.0, 8925.01, 9000.0, 8687.3, 8495.73, 8221.79, 8095.0, 7965.0, 7271.9, 7242.47, 7043.5, 7113.01, 7500.0, 7421.08, 6923.01, 6848.0, 7069.18, 7100.0, 7176.99, 6876.33, 6966.84, 8076.83, 8223.58, 8175.86, 8413.43, 8415.0, 8165.07, 8227.32, 8295.73, 8932.16, 9038.0, 9017.0, 8990.0, 9740.97, 9762.75, 9315.24, 9368.0, 9422.29, 9522.12, 9440.91, 9241.27, 9259.0, 9786.01, 9780.0, 9940.0, 9890.0, 9618.16, 9450.0, 9359.25, 9387.98, 9022.05, 8647.84, 8755.0, 8899.62, 8846.13, 8501.53, 8487.15, 8279.0, 8392.0, 8600.0, 8588.0, 8402.79, 8026.37, 7746.18, 7659.97, 7647.46, 7400.0, 7445.89, 7531.21, 7567.72, 7616.63, 7616.63, 7698.92, 7790.91, 7754.96, 7677.03, 7694.92, 7745.0, 7695.0, 7684.22, 7479.46, 6913.59, 6879.99, 6619.84, 6711.42, 6664.53, 6550.0, 6574.34, 6800.0, 6831.0, 6815.21, 6785.87, 6730.0, 6259.09, 6254.16, 6349.46, 6275.0, 6177.31, 6158.1, 6600.0, 6531.61, 6430.01, 6673.9, 6669.47, 6794.53, 6700.0, 6641.09, 6848.84, 6782.95, 6798.97, 6683.68, 6400.0, 6374.28, 6331.16, 6321.58, 6382.7, 6747.65, 7464.98, 7584.03, 7557.28, 7676.31, 7459.81, 7567.8, 7810.0, 8480.0, 8480.0, 8290.0, 8269.62, 8234.98, 8280.0, 8274.97, 8184.07, 7751.28, 7706.7, 7534.99, 7485.0, 7084.95, 7184.0, 7148.53, 6712.63, 6626.62, 6588.97, 6482.36, 6487.2, 6546.29, 6262.44, 6623.09, 6475.0, 6580.76, 6619.79, 6552.23, 6524.06, 6493.0, 6900.0, 6447.0, nan, 6770.92, 6767.99, 6938.83, 7125.0, 7119.5, 7049.99, 7088.22, 7250.0, 7330.99, 7325.0, 7409.27, 7380.53, 6702.32, 6529.99, 6460.68, 6463.07, 6371.76, 6418.71, 6347.51, 6529.99, 6581.04, 6566.47, 6525.54, 6529.99, 6384.29, 6518.24, 6535.89, 6778.0, 6818.23, 6764.72, 6717.4, 6577.77, 6536.33, 6732.99, 6793.49, 6619.99, 6644.01, 6639.05, 6594.98, 6509.99, 6600.0, 6638.0, 6585.07, 6589.98, 6655.0, 6616.33, 6593.48, 6529.45, 6250.53, 6245.97, 6295.08, 6769.0, 6489.99, 6459.94, 6487.77, 6410.02, 6421.68, 6463.98, 6426.24, 6418.0, 6465.68, 6423.5, 6450.0, 6425.0, 6418.97, 6414.12, 6287.56, 6346.94, 6359.29, 6380.0, 6350.98, 6453.22, 6440.41, 6449.0, 6540.0, 6512.0, 6429.68, 6369.99, 6364.97, 6382.25, 6326.4, 6297.66, 5648.04, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 3409.0, 3459.0, 3641.28, 3591.53, 3426.68, 3486.0, 3439.52, 3295.5, 3241.0, 3263.05, 3584.99, 3681.1, 3922.6, 4200.0, 4163.66, 4005.0, 4053.04, 4238.33, 4046.24, 3863.82, 3842.27, 3965.23, 3937.21, 3864.93, 3833.36]

                    Date      High
0    2018-01-01 00:00:00  13824.23
1    2018-01-02 00:00:00  15249.97
2    2018-01-03 00:00:00  15400.00
3    2018-01-04 00:00:00  15503.59
4    2018-01-05 00:00:00  17124.44
5    2018-01-06 00:00:00  17236.46
6    2018-01-07 00:00:00  17175.01
7    2018-01-08 00:00:00  16250.00
8    2018-01-09 00:00:00  15419.24
9    2018-01-10 00:00:00  14933.42
10   2018-01-11 00:00:00  14970.00
11   2018-01-12 00:00:00  14106.00
12   2018-01-13 00:00:00  14550.00
13   2018-01-14 00:00:00  14310.00
14   2018-01-15 00:00:00  14283.26
15   2018-01-16 00:00:00  13601.25
16   2018-01-17 00:00:00  11850.00
17   2018-01-18 00:00:00  12110.00
18   2018-01-19 00:00:00  12018.39
19   2018-01-20 00:00:00  12999.00
20   2018-01-21 00:00:00  12774.17
21   2018-01-22 00:00:00  11865.00
22   2018-01-23 00:00:00  11372.51
23   2018-01-24 00:00:00  11480.01
24   2018-01-25 00:00:00  11693.70
25   2018-01-26 00:00:00  11600.00
26   2018-01-27 00:00:00  11535.00
27   2018-01-28 00:00:00  11878.10
28   2018-01-29 00:00:00  11698.00
29   2018-01-30 00:00:00  11168.70
..                   ...       ...
335  2018-12-02 00:00:00       NaN
336  2018-12-03 00:00:00       NaN
337  2018-12-04 00:00:00       NaN
338  2018-12-05 00:00:00       NaN
339  2018-12-06 00:00:00       NaN
340  2018-12-07 00:00:00   3409.00
341  2018-12-08 00:00:00   3459.00
342  2018-12-09 00:00:00   3641.28
343  2018-12-10 00:00:00   3591.53
344  2018-12-11 00:00:00   3426.68
345  2018-12-12 00:00:00   3486.00
346  2018-12-13 00:00:00   3439.52
347  2018-12-14 00:00:00   3295.50
348  2018-12-15 00:00:00   3241.00
349  2018-12-16 00:00:00   3263.05
350  2018-12-17 00:00:00   3584.99
351  2018-12-18 00:00:00   3681.10
352  2018-12-19 00:00:00   3922.60
353  2018-12-20 00:00:00   4200.00
354  2018-12-21 00:00:00   4163.66
355  2018-12-22 00:00:00   4005.00
356  2018-12-23 00:00:00   4053.04
357  2018-12-24 00:00:00   4238.33
358  2018-12-25 00:00:00   4046.24
359  2018-12-26 00:00:00   3863.82
360  2018-12-27 00:00:00   3842.27
361  2018-12-28 00:00:00   3965.23
362  2018-12-29 00:00:00   3937.21
363  2018-12-30 00:00:00   3864.93
364  2018-12-31 00:00:00   3833.36

[365 rows x 2 columns]

In [10]:
day_wise.to_csv("BTCUSD_2018_day.csv",sep=',',encoding='utf-8')